nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: bisque;
    padding: 0px;
    margin-top: 0px;
}
nav li{
    list-style: none;
    padding: 5px;
}
.innerLink{
    text-decoration: none;
}